// google sans flex
@font-face {
  font-family: 'Google Sans Flex';
  src: url('/fonts/google-sans-flex.woff2') format('woff2');
  font-weight: 100 1000;
  font-display: swap;
  font-style: normal;
}

// material symbols (Modern Outlined) - Our NEW standard
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  src: url('/fonts/material-symbols-outlined.woff2') format('woff2');
  font-display: swap;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined', monospace;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}
