@use '@angular/material' as mat;
@use 'fonts';
@use 'global';
@use 'overrides';
@use 'utilities';

html {
  height: 100%;
  color-scheme: light dark;
  @include mat.system-classes();
  @include mat.theme(
    (
      color: (
        theme-type: color-scheme,
        primary: theme.$primary-palette,
        tertiary: theme.$tertiary-palette,
      ),
      typography: Google Sans Flex,
      density: 0,
    )
  );
}

